---
import MainLayout from "../../layouts/MainLayout.astro";

// Definér typen så Astro ved hvad myData indeholder
type Artist = {
  slug: string;
  artist_name: string;
  date?: string;
  country?: string;
  crew?: string;
};

export async function getStaticPaths() {
  const data: Artist[] = await fetch("https://pdziurppuyuifopvqeap.supabase.co/rest/v1/Artists", {
    method: "GET", 
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkeml1cnBwdXl1aWZvcHZxZWFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc0NzYwNzAsImV4cCI6MjA2MzA1MjA3MH0.pXBiQO37hl7cZE_5eZiChRZMkCIHq9FsUr-LGE_F3Yg"
    }
  }).then(response => response.json());

  return data.map((artist) => {
    return {
      params: { slug: artist.slug },
      props: { myData: artist },
    };
  });
}

// Fortæl Astro at myData er af typen Artist
const { myData }: { myData: Artist } = Astro.props;
console.log(myData);
---

<MainLayout title={myData.slug}>
  <article class="grid_1-1">
    <div>
      <h1>{myData.artist_name}</h1>
      <h2>{myData.date}</h2>
      <h3>{myData.country}</h3>
      {myData.crew && <p>Crew: {myData.crew}</p>}
    </div>
    <div>
      <img src="/artist/dummy_pic.webp" alt={`Image of ${myData.artist_name}`} />
    </div>
  </article>
</MainLayout>

<style>
@media (min-width: 1000px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}
</style>
