---
import { apiDetails } from "../../settings";
import WhiteStarDesk from "./WhiteStarDesk.astro";

interface Artist {
  id: number;
  artist_name: string;
  // evt. country?: string;
}

async function fetchArtists(): Promise<Artist[]> {
  const res = await fetch(`${apiDetails.supabaseUrl}/rest/v1/artists?select=*`, {
    headers: {
      apikey: apiDetails.supabaseKey,
      Authorization: `Bearer ${apiDetails.supabaseKey}`,
    },
  });

  if (!res.ok) {
    console.error('Error fetching artists:', await res.text());
    return [];
  }

  const data: Artist[] = await res.json();
  return data;
}

const artists: Artist[] = await fetchArtists();
---

  <section class="grid grid-cols-2 mx-auto">
    {artists.length === 0 ? (
      <p>Ingen artister fundet.</p>
    ) : (
      <>
        {artists.map((artist) => (
          <div class="flex items-center gap-xs" key={artist.id}>
            <div class="flex flex-row items-center">
              <WhiteStarDesk></WhiteStarDesk>
              <h class="text-center">{artist.artist_name}</h4>
              <h6 class="text-xs">{artist.country}</h6>
            </div>
          </div>
        ))}
      </>
    )}
  </section>



<!-- ---
//ts-nocheck
import MainLayout from "../../layouts/MainLayout.astro";
import Trestep from "../../components/Trestep.astro";
import { apiDetails } from "../../settings";
export async function getStaticPaths() {
  const res = await fetch(${apiDetails.supabaseUrl}/rest/v1/produkter?select=*, {
    headers: {
      apikey: apiDetails.supabaseAnonKey,
      Authorization: Bearer ${apiDetails.supabaseAnonKey},
    },
  });
  const data = await res.json();

  return data.map((product) => {
    return {
      params: { slug: product.slug },
      props: { myProduct: product },
    };
  });
}

const { myProduct } = Astro.props;
---

<MainLayout> 

<section class=" grid grid-cols-2 mx-auto">
    <img class="w-[600px] h-auto" src={`/images/${myProduct.image_filename}`} alt={myProduct.name} />
 <div>   
  <h3> {myProduct.name}</h3>
 <div>
    <h6>Designet af Ink Saloon Studios</h6>
    <h6>Format: 120 x 170 mm</h6>
    <h6>Fra 30 DKK/stk</h6>
 </div>

</section>


<Trestep />
</MainLayout> -->
